@property --a {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.glowing-card {
  overflow: hidden;
  position: relative;
  place-content: center;
  text-wrap: balance;
}

.glowing-card::before {
  position: absolute;
  z-index: -1;
  inset: -1em;
  border: solid 1.25em;
  border-image: conic-gradient(
      from var(--a),
      #669900,
      #99cc33,
      #ccee66,
      #006699,
      #3399cc,
      #990066,
      #cc3399,
      #ff6600,
      #ff9900,
      #ffcc00,
      #669900
    )
    1;
  filter: blur(0.75em);
  animation: a 4s linear infinite;
  content: "";
}

@keyframes a {
  to {
    --a: 1turn;
  }
}
