@import "tailwindcss/utilities";

@layer utilities {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .no-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
